@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');


header {margin-bottom: 280px;
	margin-top: 10px; }

body {
	font-family: 'Raleway', sans-serif;
	letter-spacing: .02em;
	line-height: 1.4em;
	text-align: left;
	margin: 20px 250px 0px 250px;
	text-decoration: none;
}

body h1 {
      padding: 200px;

}

nav	{
	font-family: 'Raleway' 600;
	text-transform: uppercase;
	font-size: 16px;
	color: solid #7b98AA;
	text-align: center;
	word-spacing: 100px;
}


h1 {

	background-image: url("../images/blog_header_bg.jpg");
  	background-repeat: no-repeat;
    background-size: contain;
	margin: -250px;
	margin-bottom: 5px;
	font-family:'Raleway' 600;
	text-transform: uppercase;
	font-size: 37px;
	color: white;
	text-align: center;
	letter-spacing: 8px;
	padding: 800px 0px 0px 0px;
}

h2 {font-size: 23px;
	text-transform: uppercase;}

h3 {font-size: 18px;
	text-transform: uppercase;
	text-align: left;}

a {	text-decoration: none;}


article {font-family: 'Lato' 400;
}

p {font-family: 'Lato' 400;
	font-size:15px;

}

aside {
	padding-top: 30px;
}

footer {
	font-size: 15px;
	word-spacing: 30px;
	text-transform: uppercase;
	text-align: center;
	background-color: #CDF3F6;
	padding: 60px 20px 10px 20px;
	line-height: 25px;
	color:solid white;
}

ul {line-height: +2em;}

footer p {

text-transform: capitalize;
font-family: 'lato' 400;
word-spacing: 0px;
}

/* Fix for responsive images */
img {
	max-width: 100%;
	padding: 20px 0px 20px 0px;
}
