body {
	background-color: #98D2BF;
	color: #FF1493;
}
h1 {
	text-align: center;
	font-size: 80px;
	letter-spacing: 2px;
	color: #FFFAF0;
}
h2 {
	text-align: center;
	font-size: 150px
	letter-spacing: 1px;
	color: #FFFAF0;
}
img {
	width: 500px;
	display: block;
	margin: 0 auto

}
h3 {
	text-align: center;
}
h4 {

}
p {
	font-family: Verdana, Geneva, sans-serif;

}
